html, body {
  margin: 0;
  padding: 0;
  background-color: inherit;
}

img {
  width: 100%;
  height: auto;
}

.rounded {
  border-radius: 50%;
  text-align: center;
}

.column1 {
  float: left;
  width: 20%;
  padding: 5px;
}

.column2 {
  float: left;
  width: 30%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.column:hover {
  opacity: 80%;
}

.column1:hover {
  opacity: 80%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  color: white;
}

.container6 {
  float: left;
  width: 100%;
  padding: 5px;
}

.flip-box {
  background-color: transparent;
  width: 450px;
  height: 450px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
}

header {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  color: black;
  width: 100%;
  height: auto;
}

h1 {
  margin: 30px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color: black;
}

h2{
  margin-left: 50px;
  margin-right: 0px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color: white;
}

h3{
  margin-left: 25px;
  margin-right: 10px;
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  font-variant-caps: normal;
  font-size: 30px;
  color: black;
  text-align: left;
}

h4 {
  color: white;
  font-size: 28px;
  text-align: center;
}

h5{
  color: black;
  font-size: 26px;
  text-align: left;
  margin-left: 25px;
  margin-right: 10px;
  color: black;
}

p {
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 20px;
  color: black;
}

body {
  font-family: 'Lato', sans-serif;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.nav-content {
  position: fixed;
  top: 20px;
  left: 50px;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  margin-left: 50px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: white;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

img.bottom {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
  }

.img-links {
  margin-left: 50px;
  max-width: 100%;
}

.img-links a:link, a:visited{
  text-align: left;
  font-size: 15px;
  text-decoration: none;
}

.img-links a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: black;
}

body{
  font-family: sans-serif;
  font-size: 100%;
}

ul{
  list-style-type: none;
}

.menu-a {
  width: 100%;
  height: auto;
}

div.a {
  float: left;
  padding: 5px;
  background-color: rgb(240, 240, 240);
  color: black;
  text-decoration: none;
  font-size: 15px;
  width: 15%;
  text-align: center;
}

.content a:link, a:visited {
  float: left;
  margin-left: 10px;
  background-color: black;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.content a:hover {
  opacity: 75%;
}

ul{
  list-style-type: none;
}

div.photo-gallery {
  position: relative;
  margin: 2%;
  border: none;
  float: left;
  width: 15%;
}

div.photo-gallery:hover {
opacity: 75%;
}

div.photo-gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 10px 20px;
  text-align: left;
}

.index-container {
  margin-left: 10px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  background-color: black;
}

ul {
  list-style-type: none;
  position: relative;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul a:link, a:visited {
  padding: 5px;
  float: left;
  margin: 5px;
  color: white;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
}

ul a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: white;
}

section{
  margin-left: 50px;
}

div.expandable-img {
  position: relative;
  margin-left: 25px;
  margin-right: 10px;
  border: none;
  float: left;
  width: 20%;
}

div.expandable-img img{
  width: 100%;
  height: auto;
}

div.expandable-img a:hover{
  opacity: 75%;
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.container img {
  width: 100%;
  height: auto;
}

.container {
  position: relative;
  width: 50%;
  height: auto;/* Maximum width */
  margin: 0 auto; /* Center it */
}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 50%; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}

.container .content a:hover {
  text-decoration: none;
  color: white;
}

div.img-link a:hover {
  float: left;
  text-align: center;
  color: black;
  background-color: white;
  text-decoration: none;
}

.blur a:hover {filter: blur(4px);
}

.index-container {
  position: relative;
  width: 90%;
  height: auto;
}

.index-container a:hover {
  opacity: 50%;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}


.gallery-container{
  position: relative;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

#myPhoto {
  float: left;
  position: relative;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myPhoto:hover {opacity: 0.7;}
/* The Modal (background) */
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 2550px;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
.gallery-container {
  width: 100%;
  margin:10%;
}

.photo-container {
  position: relative;
  width: 25%;
  padding: 10%;
}

.hover-opacity {
  opacity: 0.7;
}

.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

.modal h2 { margin-top: 0; }

.modal .close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #777;
}

.modal-content {
  position: fixed;
  bottom: 0;
  background-color: black;
  width: 100%;
  -webkit-animation-name: slideIn;
 -webkit-animation-duration: 0.4s;
 animation-name: slideIn;
 animation-duration: 0.4s;
}

.close {
  color: white;
  float: right;
  font-size: 25px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal .close:hover { opacity: 1; }

.modal .content {
  max-height: 2550px;
  overflow: auto;
}

.modal p {
  margin: 0 0 1em;
  text-align: center;
}

.modal p:last-child { margin: 0; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}

.overlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.img-container {
  float: left;
  width: 100%;
  margin: 20%;
}

#imgGallery {
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.modal-box {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
  opacity: 0.5;
}

.content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 2550px;
}

.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

#myImage{
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImage:hover {opacity: 0.7;}

.photo-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.photo-modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 2550px;
}

#caption {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 2550px;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0.1)}
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.photo {
  position: relative;
  float: left;
  margin: 1%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 20%;
  height: auto;
}

.photo p {
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

.photo:hover {
  opacity: 0.7;
}

.design {
  position: relative;
  float: left;
  margin: 1%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 20%;
  height: auto;
}

.design:hover {
  opacity: 0.7;
}

.design p {
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.fa-instagram {
  background: #125688;
  color: white;
}

.container7 {
  position: relative;
  float: right;
  width: 60%;
  height: auto;
  color: rgb(186,228,229);
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(0, 102, 102);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(231, 231, 231);
}

.contact-container {
  border-radius: 10px;
  background-color: rgb(192, 192, 192);
  width: 100%;
  height: auto;
  padding: 20px;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding: 0; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  background-color: rgb(100, 100, 100);
  background-color: rgb(100, 100, 100);/* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  background: black;
  margin: auto;
  padding: 5%;
  width: 80%;
  height: auto;
}

.modal-content p {
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 25px;
  color: white;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  opacity: 75%;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.column {
  float: left;
  width: 25%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal-content {
  margin: 20px;
  position: relative;
  background-color: black;
  margin: auto;
  width: 90%;
  max-width: 2400px;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.desc {
  margin: 10px;
  font-style: normal;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 25px;
  text-align: left;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 20%;
  margin: 10px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
